<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Selman Graphics</title>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="Assets/Css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

<div class="container">

  <nav class="navbar">
    <div class="logo">
      <img src="Assets/images/11.jpg" alt="IRIS GRAPHICS">
    </div>

    <div class="menu-icon" id="menu-btn">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <ul class="nav-links" id="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Project</a></li>
      <li><a href="#">Testimony</a></li>
      <li><a href="#">Industries</a></li>
      <li class="mobile-button">
        <button class="button">Let's Work</button>
      </li>
    </ul>

    <button class="button desktop-button" id="build-btn">Let's Work</button>
  </nav>

<section class="hero container">
    <div class="hero-content">
        <span class="badge">HEY, I,M SELMAN</span>
        <h1>I transform simple ideas into stunning visual stories</h1>
        <p>I turn simple ideas into stunning visual stories, creating eye catching designs that bring your message to life with clarity and impact.</p>

        <div class="hero-buttons">
            <button class="primary-btn">Start Working →</button>
            <button class="secondary-btn">View Examples →</button>
        </div>
    </div>

    <div class="hero-photo">
        <img src="Assets/images/YU.jpg" alt="Designer portrait">
        <div class="bubble top">Passion for graphics design</div>
        <div class="bubble bottom">5 Years Experience</div>
    </div>
</section>

<section class="marquee-section">
    <div class="container">
        <div class="marquee-wrapper">
            <div class="marquee-track">
                <div class="project-box">Logos</div>
                <div class="project-box">Posters</div>
                <div class="project-box">Thanks Card</div>
                <div class="project-box">Custom interest</div>
                <div class="project-box">Event Posters</div>
                <div class="project-box">Photo Graphy</div>

                <div class="project-box">Logos</div>
                <div class="project-box">Posters</div>
                <div class="project-box">Thanks Card</div>
                <div class="project-box">Custom interest</div>
                <div class="project-box">Event Posters</div>
                <div class="project-box">Photo Graphy</div>
            </div>
        </div>
    </div>
</section>
</div>

<section class="about">

  <div class="left">
    <small>MY VISION</small>
    <h1>Bringing Ideas into<br>Life through Creative Design</h1>
    <p>
      I am a passionate graphic designer who turns concepts into compelling visuals. 
      My objective is to help individuals and businesses clearly communicate their message, inspire action
       and leave a memorable impression. I merge creativity, innovation, and attention to detail in design 
       to truly connect with people.
    </p>
    <div class="hero-buttons">
      <button class="primary-btn">Learn More →</button>
    </div>
    
  </div>

  <div class="right">

    <img class="main-image" src="./Assets/images/YU.jpg">
    
    <svg class="shape" viewBox="0 0 600 400">
      <path fill="url(#gradient)" d="M502 58c40 33 68 86 62 137s-49 100-94 132c-45 33-93 43-149 50s-118 13-164-10-81-73-99-125-19-105 10-148 86-70 143-80 114-4 167 10 85 32 124 66z"/>
      <defs>
        <linearGradient id="gradient" x1="0" y1="0" x2="1" y2="1">
          <stop offset="0%" stop-color="#9b6bff"/>
          <stop offset="100%" stop-color="#6bc1ff"/>
        </linearGradient>
      </defs>
    </svg>
    
    <svg class="shape2" viewBox="0 0 600 400">
      <path fill="url(#gradient)" d="M502 58c40 33 68 86 62 137s-49 100-94 132c-45 33-93 43-149 50s-118 13-164-10-81-73-99-125-19-105 10-148 86-70 143-80 114-4 167 10 85 32 124 66z"/>
      <defs>
        <linearGradient id="gradient" x1="0" y1="0" x2="1" y2="1">
          <stop offset="0%" stop-color="#0056ff"/>
          <stop offset="100%" stop-color="#0056ff"/>
        </linearGradient>
      </defs>
    </svg>
    
    <div class="text">
      <span class="big">5</span>
      <span class="small">Years of<br>Experience</span>
    </div>

  </div>

</section>

<!--skill section-->

<section id="skills" class="skill_bar_section">
  <div class="responsive-container-block big-container">
    <div class="responsive-container-block container">
      <div class="responsive-cell-block wk-mobile-12 wk-ipadp-9 wk-tab-10 wk-desk-6 left-one">
        <p class="text-blk section-head">
          I Speciallize In these Softwares
        </p>
        <div class="skills">
          <div class="skills-name-box">
            <p class="text-blk skill-name">
              Photoshop
            </p>
          </div>
          <div class="skill-bar">
            <div class="skill-per" percentage="91">
            </div>
          </div>
        </div>
        <div class="skills">
          <div class="skills-name-box">
            <p class="text-blk skill-name">
              Illustrator
            </p>
          </div>
          <div class="skill-bar">
            <div class="skill-per two" percentage="89">
            </div>
          </div>
        </div>
        <div class="skills">
          <div class="skills-name-box">
            <p class="text-blk skill-name">
              Lightroom
            </p>
          </div>
          <div class="skill-bar">
            <div class="skill-per three" percentage="81">
            </div>
          </div>
        </div>
        <div class="skills">
          <div class="skills-name-box">
            <p class="text-blk skill-name">
              Photography
            </p>
          </div>
          <div class="skill-bar">
            <div class="skill-per four" percentage="96">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--projects section-->

<div class="main-container">
  <div class="parent">
    <div class="div1"><img src="./Assets/images/img 1.jpg" alt="best graphics designer in ethiopia"></div>
    <div class="div2"><img src="./Assets/images/img 2.jpg" alt="best graphics designer in ethiopia"></div>
    <div class="div3"><img src="./Assets/images/img 3.jpg" alt="best graphics designer in ethiopia"></div>
    <div class="div4"><img src="./Assets/images/img 4.jpg" alt="best graphics designer in ethiopia"></div>
    <div class="div5"><img src="./Assets/images/img 7.jpg" alt="best graphics designer in ethiopia"></div>
  </div>

  <div class="hero-buttons second-classname">
    <button class="primary-btn">See More →</button>
    <button class="secondary-btn">Hire me →</button>
  </div>
</div>


<!-- Modal -->
<div id="modal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modal-img">
</div>

<!--contact-->

<div class="contact-container" ng-app=""  ng-init="firstName=''; lastName=''; place=''; profession=''; company=''; message=''; email=''">

  <div class="grid">
    <div ng-app ng-init="firstName=''; lastName=''; place=''; profession=''; company=''; message=''; email=''">
      <div class="grid">
        <div class="form-box">
          <h2>Contact Me</h2>
          <input type="text" ng-model="firstName" placeholder="First Name">
          <input type="text" ng-model="lastName" placeholder="Last Name">
          <input type="text" ng-model="place" placeholder="Country">
          <input type="email" ng-model="email" placeholder="Email">
          <textarea ng-model="message" placeholder="Message"></textarea>
    
          <button ng-click="firstName=''; lastName=''; place=''; profession=''; company=''; message=''; email=''">
            Clear Form
          </button>
        </div>
    
        <!-- Paper Preview -->
        <div class="paper">
          <div class="lines">
            <div class="Lettertext">
              Hello Curious Cat,<br><br>
              This is {{ firstName }} {{ lastName }}. I am from {{ place }}<br><br>
              {{ message }}<br><br>
              You can reach me back on {{ email }}.<br><br>
              Thanks and Regards,<br>
              {{ firstName }} {{ lastName }}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>